	/*
  	Flaticon icon font: Flaticon
  	Creation date: 04/01/2019 13:45
  	*/


@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/font/Flaticon.eot");
  src: url("../fonts/flaticon/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon/font/Flaticon.woff") format("woff"),
       url("../fonts/flaticon/font/Flaticon.ttf") format("truetype"),
       url("../fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.flaticon-dashboard:before { content: "\f100"; }
.flaticon-tire:before { content: "\f101"; }
.flaticon-engine:before { content: "\f102"; }
.flaticon-piston:before { content: "\f103"; }
.flaticon-engine-1:before { content: "\f104"; }
.flaticon-oil:before { content: "\f105"; }
.flaticon-information:before { content: "\f106"; }
.flaticon-steering-wheel:before { content: "\f107"; }
.flaticon-gas-station:before { content: "\f108"; }
.flaticon-dashboard-1:before { content: "\f109"; }
.flaticon-seatbelt:before { content: "\f10a"; }
.flaticon-mechanic:before { content: "\f10b"; }
.flaticon-seat-belt:before { content: "\f10c"; }
.flaticon-damper:before { content: "\f10d"; }
.flaticon-oil-1:before { content: "\f10e"; }
.flaticon-car:before { content: "\f10f"; }
.flaticon-dashboard-2:before { content: "\f110"; }
.flaticon-car-lights:before { content: "\f111"; }
.flaticon-battery:before { content: "\f112"; }
.flaticon-break:before { content: "\f113"; }
.flaticon-gearshift:before { content: "\f114"; }
.flaticon-alloy-wheel:before { content: "\f115"; }
.flaticon-windshield:before { content: "\f116"; }
.flaticon-car-lights-1:before { content: "\f117"; }
.flaticon-info:before { content: "\f118"; }
.flaticon-car-1:before { content: "\f119"; }
.flaticon-car-2:before { content: "\f11a"; }
.flaticon-airbag:before { content: "\f11b"; }
.flaticon-radiator:before { content: "\f11c"; }
.flaticon-car-key:before { content: "\f11d"; }
.flaticon-car-key-1:before { content: "\f11e"; }
.flaticon-dashboard-3:before { content: "\f11f"; }
.flaticon-wheel:before { content: "\f120"; }
.flaticon-car-3:before { content: "\f121"; }
.flaticon-parking:before { content: "\f122"; }
.flaticon-air-conditioner:before { content: "\f123"; }
.flaticon-windshield-1:before { content: "\f124"; }
.flaticon-break-1:before { content: "\f125"; }
.flaticon-engine-2:before { content: "\f126"; }
.flaticon-gearshift-1:before { content: "\f127"; }
.flaticon-tank:before { content: "\f128"; }
.flaticon-fan:before { content: "\f129"; }
.flaticon-engine-3:before { content: "\f12a"; }
.flaticon-gauge:before { content: "\f12b"; }
.flaticon-motor:before { content: "\f12c"; }
.flaticon-chassis:before { content: "\f12d"; }
.flaticon-air-filter:before { content: "\f12e"; }
.flaticon-nut:before { content: "\f12f"; }
.flaticon-engine-4:before { content: "\f130"; }
.flaticon-gears:before { content: "\f131"; }
.flaticon-car-parts:before { content: "\f132"; }
.flaticon-car-parts-1:before { content: "\f133"; }
.flaticon-car-parts-2:before { content: "\f134"; }
.flaticon-car-parts-3:before { content: "\f135"; }
.flaticon-car-parts-4:before { content: "\f136"; }
.flaticon-car-parts-5:before { content: "\f137"; }
.flaticon-car-parts-6:before { content: "\f138"; }
.flaticon-car-parts-7:before { content: "\f139"; }
.flaticon-car-parts-8:before { content: "\f13a"; }
.flaticon-car-parts-9:before { content: "\f13b"; }
.flaticon-car-parts-10:before { content: "\f13c"; }
.flaticon-car-parts-11:before { content: "\f13d"; }
.flaticon-car-parts-12:before { content: "\f13e"; }
.flaticon-car-parts-13:before { content: "\f13f"; }
.flaticon-car-parts-14:before { content: "\f140"; }
.flaticon-car-parts-15:before { content: "\f141"; }
.flaticon-car-parts-16:before { content: "\f142"; }
.flaticon-car-parts-17:before { content: "\f143"; }
.flaticon-car-parts-18:before { content: "\f144"; }
.flaticon-car-parts-19:before { content: "\f145"; }
.flaticon-car-parts-20:before { content: "\f146"; }
.flaticon-car-parts-21:before { content: "\f147"; }
.flaticon-car-parts-22:before { content: "\f148"; }
.flaticon-car-parts-23:before { content: "\f149"; }
.flaticon-car-parts-24:before { content: "\f14a"; }
.flaticon-car-parts-25:before { content: "\f14b"; }
.flaticon-car-parts-26:before { content: "\f14c"; }
.flaticon-car-parts-27:before { content: "\f14d"; }
.flaticon-car-parts-28:before { content: "\f14e"; }
.flaticon-car-parts-29:before { content: "\f14f"; }
.flaticon-tow-truck:before { content: "\f150"; }
.flaticon-car-4:before { content: "\f151"; }
.flaticon-car-wash:before { content: "\f152"; }
.flaticon-tire-1:before { content: "\f153"; }
.flaticon-truck:before { content: "\f154"; }
.flaticon-engine-5:before { content: "\f155"; }
.flaticon-car-repair:before { content: "\f156"; }
.flaticon-brakes:before { content: "\f157"; }
.flaticon-mechanic-1:before { content: "\f158"; }
.flaticon-battery-1:before { content: "\f159"; }
.flaticon-elevator:before { content: "\f15a"; }
.flaticon-elevator-1:before { content: "\f15b"; }
.flaticon-oil-2:before { content: "\f15c"; }
.flaticon-check:before { content: "\f15d"; }
.flaticon-shock-absorber:before { content: "\f15e"; }
.flaticon-spray-paint:before { content: "\f15f"; }
.flaticon-tire-2:before { content: "\f160"; }
.flaticon-voltmeter:before { content: "\f161"; }
.flaticon-crane:before { content: "\f162"; }
.flaticon-tire-3:before { content: "\f163"; }
.flaticon-check-1:before { content: "\f164"; }
.flaticon-gasoline-pump:before { content: "\f165"; }
.flaticon-wheel-1:before { content: "\f166"; }
.flaticon-car-door:before { content: "\f167"; }
.flaticon-steering-wheel-1:before { content: "\f168"; }
.flaticon-windscreen:before { content: "\f169"; }
.flaticon-gasoline:before { content: "\f16a"; }
.flaticon-safety-seat:before { content: "\f16b"; }
.flaticon-car-5:before { content: "\f16c"; }
.flaticon-abs:before { content: "\f16d"; }
.flaticon-engine-6:before { content: "\f16e"; }
.flaticon-car-wash-1:before { content: "\f16f"; }
.flaticon-steering-wheel-2:before { content: "\f170"; }
.flaticon-rearview-mirror:before { content: "\f171"; }
.flaticon-car-repair-1:before { content: "\f172"; }
.flaticon-snowflake:before { content: "\f173"; }
.flaticon-suspension:before { content: "\f174"; }
.flaticon-gearshift-2:before { content: "\f175"; }
.flaticon-car-door-1:before { content: "\f176"; }
.flaticon-car-repair-2:before { content: "\f177"; }
.flaticon-break-2:before { content: "\f178"; }
.flaticon-tire-4:before { content: "\f179"; }
.flaticon-car-painting:before { content: "\f17a"; }
.flaticon-right-arrow:before { content: "\f17b"; }
.flaticon-climatization:before { content: "\f17c"; }
.flaticon-accumulator:before { content: "\f17d"; }
.flaticon-horn:before { content: "\f17e"; }
.flaticon-airbag-1:before { content: "\f17f"; }
.flaticon-left-arrow:before { content: "\f180"; }
.flaticon-seat:before { content: "\f181"; }
.flaticon-steering-wheel-3:before { content: "\f182"; }
.flaticon-trunk-open:before { content: "\f183"; }
.flaticon-wiper:before { content: "\f184"; }
.flaticon-chassis-1:before { content: "\f185"; }
.flaticon-car-key-2:before { content: "\f186"; }
.flaticon-exhaust-pipe:before { content: "\f187"; }
.flaticon-fuel:before { content: "\f188"; }
.flaticon-speedometer:before { content: "\f189"; }
.flaticon-air-conditioner-1:before { content: "\f18a"; }
.flaticon-light:before { content: "\f18b"; }
.flaticon-safety-seat-1:before { content: "\f18c"; }
.flaticon-suspension-1:before { content: "\f18d"; }
.flaticon-fan-1:before { content: "\f18e"; }
.flaticon-horn-1:before { content: "\f18f"; }
.flaticon-parking-1:before { content: "\f190"; }
.flaticon-gasoline-1:before { content: "\f191"; }
.flaticon-gearshift-3:before { content: "\f192"; }
.flaticon-car-radio:before { content: "\f193"; }
.flaticon-handbrake:before { content: "\f194"; }
.flaticon-lifter:before { content: "\f195"; }
.flaticon-gearshift-4:before { content: "\f196"; }
.flaticon-pedals:before { content: "\f197"; }
.flaticon-esp:before { content: "\f198"; }
.flaticon-rearview-mirror-1:before { content: "\f199"; }
.flaticon-car-6:before { content: "\f19a"; }
.flaticon-windscreen-1:before { content: "\f19b"; }
.flaticon-air-conditioner-2:before { content: "\f19c"; }
.flaticon-car-7:before { content: "\f19d"; }
.flaticon-battery-2:before { content: "\f19e"; }
.flaticon-error:before { content: "\f19f"; }
.flaticon-fahrenheit:before { content: "\f1a0"; }
.flaticon-shift:before { content: "\f1a1"; }
.flaticon-seatbelt-1:before { content: "\f1a2"; }
.flaticon-piston-1:before { content: "\f1a3"; }
.flaticon-car-8:before { content: "\f1a4"; }
.flaticon-windscreen-2:before { content: "\f1a5"; }
.flaticon-shift-1:before { content: "\f1a6"; }
.flaticon-oil-3:before { content: "\f1a7"; }
.flaticon-exhaust-pipe-1:before { content: "\f1a8"; }
.flaticon-gear:before { content: "\f1a9"; }
.flaticon-car-9:before { content: "\f1aa"; }
.flaticon-car-key-3:before { content: "\f1ab"; }
.flaticon-air-conditioner-3:before { content: "\f1ac"; }
.flaticon-lifter-1:before { content: "\f1ad"; }
.flaticon-antenna:before { content: "\f1ae"; }
.flaticon-ui:before { content: "\f1af"; }
.flaticon-car-lights-2:before { content: "\f1b0"; }
.flaticon-lifter-2:before { content: "\f1b1"; }
.flaticon-car-10:before { content: "\f1b2"; }
.flaticon-transportation:before { content: "\f1b3"; }
.flaticon-spanner:before { content: "\f1b4"; }
.flaticon-rental-car:before { content: "\f1b5"; }
.flaticon-wheelchair:before { content: "\f1b6"; }
.flaticon-taxi:before { content: "\f1b7"; }